{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type One Blog</title>
</head>
<div><img src="static/images/BlogHeader.png" class="img-fluid" width="1349"></div>
<body>
<div class="d-flex align-items-start">
    <h1></h1>
</div>
<div class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong>Diabetes Camp</strong> - 14/08/2022
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne">
      <div class="accordion-body">
        <p><img src="static/images/Blog1.png" class="img-fluid" height="150" width="250" align="left">
          Growing up with diabetes wasn’t easy, as children we just want to fit in and do all the things our friends are doing; sleepovers, enjoying treats without a thought, candy floss at the fayre. However, for a diabetic, this doesn’t come without its complications. Unless you live with Type 1 Diabetes, it can be hard to relate, it can also feel very isolating, that none of your friends have to experience what you do or go through on a daily basis..</p>
          <p><strong>How did I manage this as a child?</strong>
        <br><br>
From the age of 11 my parents signed me up to ‘Diabetes Camp’ organized by Diabetes UK. This was a week of fun activities, solely for children aged between 10 – 15 years old with type 1 diabetes. Camps were scattered across the UK and primarily based in an activity centre resort.
Camps were monitored by on-site diabetes consultants, diabetes specialist nurses and trained volunteers (many who live with type 1 themselves).
. This for me brought on a mix of emotion; excitement, nervousness happiness and confusion. It was a week, living with this condition, without my parents for the very first time. </p>
          <p>It was also at this camp where I met my best friend Amelia ‘’Millie/Mills’’. I befriended Millie on our first day, we were very similar in age, we both loved animals and we enjoyed many of the same activities. We attended a further 3 camps together and met multiple times throughout our childhood. Our parents became friends too and would continuously reach out to each other for advice.
To this day (18 years later), Millie remains one of my biggest support system. Growing up with diabetes was challenging for us both and it was a great comfort to have a friend who understood, from experience what you were going through. </p>
          <a href="https://www.diabetes.org.uk/how_we_help/type-1-events">More Info On Diabetes UK Type 1 Events!</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}

